@media (min-width:1200px) and (max-width:1399px) {
    .banner-sec {
        min-height: 830px;
    }

    .banner-cont h1 {
        font-size: 60px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    nav ul li a {
        padding: 30px 15px;
    }

    .banner-cont {
        padding-bottom: 80px;
    }

    .highlight-cont {
        padding: 0;
    }

    .highlight-cont h2 {
        font-size: 45px;
    }

    .news-img {
        margin-right: 15px;
    }

    .newss-cont h3 {
        font-size: 15px;
    }
}

@media (min-width: 0px) and (max-width: 991px) {
    .header-area {
        padding-top: 15px;
    }

    nav ul li {
        margin: 0px
    }

    .mean-container .mean-nav ul li a {
        padding: 20px 5%
    }

    .mean-container .mean-nav ul li a.mean-expand {
        height: 44px !important;
        display: -ms-grid;
        display: grid;
        place-content: center
    }

    .mean-container .mean-nav ul li a:hover {}

    .mean-container .mean-nav ul li li a {
        padding: 15px 10%
    }

    .mean-container a.meanmenu-reveal {
        margin-top: -40px
    }

    .mean-container a.meanmenu-reveal span {
        background: #fff none repeat scroll 0 0;
    }

    .mean-container a.meanmenu-reveal {
        color: #fff;
    }

    .mean-container a.meanmenu-reveal {
        border: none;
        padding: 11px 9px
    }

    .header-normal {
        padding-top: 12px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .banner-cont {
        padding-bottom: 80px;
    }

    .highlights-sec {
        padding-top: 70px;
    }

    .highlight-cont {
        padding: 0;
        padding-bottom: 60px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .banner-cont {
        padding-top: 100px;
        padding-bottom: 80px;
    }

    .highlights-sec {
        padding-top: 70px;
    }

    .highlight-cont {
        padding: 0;
        padding-bottom: 60px;
    }

    .news-img img {
        width: 250px;
        height: 120px;
    }

    .newss-cont h3 {
        font-size: 14px;
    }
}

@media (min-width: 426px) and (max-width: 575px) {
    .banner-cont {
        padding-top: 0px;
        padding-bottom: 80px;
    }

    .banner-cont h1 {
        font-size: 55px;
    }

    .banner-sec {
        min-height: 850px;
    }

    .player-sec .col-md-6 {
        width: 80%;
        margin: auto;
    }

    .highlights-sec {
        padding-top: 70px;
    }

    .highlight-cont {
        padding: 0;
        padding-bottom: 60px;
    }

    .highlight-cont h2 {
        font-size: 42px;
    }

    .news-img img {
        width: 200px;
        height: 100px;
    }

    .newss-cont h3 {
        font-size: 14px;
    }

    .single-h-news {
        text-align: center;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    .banner-cont {
        padding-top: 0px;
        padding-bottom: 80px;
    }

    .banner-cont h1 {
        font-size: 50px;
    }

    .banner-sec {
        min-height: 800px;
    }

    .highlights-sec {
        padding-top: 70px;
    }

    .highlight-cont {
        padding: 0;
        padding-bottom: 60px;
    }

    .highlight-cont h2 {
        font-size: 38px;
    }

    .news-img img {
        width: 170px;
        height: 85px;
    }

    .newss-cont h3 {
        font-size: 12px;
    }

    .single-h-news {
        text-align: center;
    }
}

@media (min-width: 0px) and (max-width: 375px) {
    .banner-cont {
        padding-top: 0px;
        padding-bottom: 80px;
    }

    .banner-cont h1 {
        font-size: 40px;
    }

    .banner-sec {
        min-height: 700px;
    }

    .highlights-sec {
        padding-top: 70px;
    }

    .highlight-cont {
        padding: 0;
        padding-bottom: 60px;
    }

    .highlight-cont h2 {
        font-size: 30px;
    }

    .news-img img {
        width: 120px;
        height: 80px;
    }

    .newss-cont h3 {
        line-height: 25px;
        font-size: 15px;
    }
    .news-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .single-h-news {
        text-align: center;
    }
    .copy-text h2 {
        font-size: 20px;
    }
    .news-headline h2 {
        font-size: 35px;
    }
}